.custom_checkbox {
	display: inline-block;
	cursor: pointer;
	background: url(../images/checkbox.png) no-repeat;
}

.custom_radio {
	display: inline-block;
	cursor: pointer;
	background: url(../img/sss.png) no-repeat;
}

.custom_checkbox input, .custom_radio input {
	display: none;
}